.dashboardTableHeader {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardTableTitle {
  font-size: 300%;
  margin-bottom: 2rem;
}

.dashboardCreateAuctionBtn {
  font-size: 90%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--text-dark);
  color: var(--text-light);
}

.dashboardCreateAuctionBtn:hover {
  cursor: pointer;
  background-color: var(--background);
}

.dashboardTable {
  width: 95%;
  height: 69vh;
  display: flex;
  justify-content: center;
  background-color: var(--text-light);
}

.dashboardATag{
  text-decoration: none;
  color: black;
  cursor: default;
}

.dashboardTableAuctionTitle {
  cursor: pointer;
}

.tableIconNoHover {
  font-size: 170%;
  color: var(--text-dark);
}

.tableIcon {
  font-size: 170%;
  color: var(--text-dark);
}

.tableIcon:hover {
  cursor: pointer;
  color: var(--light-purple1);
}

.chip {
  height: 2rem;
  width: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
  border-radius: 1rem;
}

.approved {
  background-color: #5cb85c;
}

.pending {
  background-color: #f0ad4e;
}

.rejected {
  background-color: #d9534f;
}
