.auctionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18rem;
  margin: 1rem;
  padding: 0.8rem;
  background-color: #ebeef7;
  border: 1px solid rgb(199, 199, 199);
  box-shadow: 0px 0px 5px 0px #000000;
  border-radius: 1rem;
}

.auctionCardHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auctionCardAvatar {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.auctionCardAvatar:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.auctionCardCounter {
  padding: 0.5rem;
  color: var(--text-dark);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 1rem;
}

.auctionCardImage {
  margin: 1rem 0;
  height: 12rem;
  width: 100%;
  border-radius: 1rem;
}

.auctionCardInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auctionCardInfoHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auctionCardTitle {
  font-size: 120%;
  font-weight: bold;
  color: var(--text-dark);
}

.auctionCardReport {
  font-size: 90%;
  color: gray;
}

.auctionCardReport:hover {
  color: var(--text-dark);
}

.auctionCardInfoPrice {
  width: 50%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-dark);
}

.auctionCardInfoPrice span:nth-child(2) {
  color: rgb(104, 104, 104);
}

.auctionCardOptions {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auctionCardOptions span {
  font-weight: bold;
  color: var(--text-dark);
}

.auctionCardOptions span:hover {
  cursor: pointer;
  color: gray;
}

.auctionCardOptionsAdd,
.auctionCardOptionsdelete {
  font-size: 150%;
  color: var(--text-dark);
}
.auctionCardOptionsdelete {
  font-size: 160%;
}

.auctionCardOptionsAdd:hover,
.auctionCardOptionsdelete:hover {
  cursor: pointer;
  color: gray;
}

@media screen and (max-width: 400px) {
  .auctionCard {
    width: 15rem;
  }
}
