.homeLanding {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  background: linear-gradient(-45deg, #13192b, #181f34, #293357, #394779);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.homeLandingTitleLogo {
  display: flex;
  align-items: center;
}

.homeLandingLogo {
  height: 8rem;
  width: 8rem;
}

.homeLandingTitle {
  font-size: 7rem;
}

.homeLandingDesc {
  display: flex;
  font-size: 3rem;
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.homeShow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: #f5f5ff;
}

.showCardsBox {
  width: 90%;
  padding: 2rem 1rem;
  margin: 2rem 0;
  border-radius: 1rem;
  background-color: var(--text-light);
  box-shadow: 0px 0px 15px 0px #b8b8b8;
}

.showCardsBoxTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.showCardsBoxTitle .titleAndEmoji {
  display: flex;
  align-items: center;
}

.showCardsBoxTitle .titleAndEmoji .homeCardsEmoji {
  font-size: 200%;
}

.showCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cardsCarousel {
  display: flex;
  align-items: center;
}

.carouselArrow {
  font-size: 200%;
}

.carouselArrow:hover {
  cursor: pointer;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
}

.homeHowItWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  background-color: #e7e7fdcc;
}

.homeHowItWorksTitle {
  font-size: 500%;
  display: grid;
  grid-template-columns: minmax(50px, 1fr) auto minmax(50px, 1fr);
  align-items: center;
  text-align: center;
  gap: 40px;
}

.homeHowItWorksTitle::before,
.homeHowItWorksTitle::after {
  content: "";
  border-top: 6px double;
}

.homeHowItWorksType {
  width: 95%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeHowItWorksTypeTitle {
  font-size: 300%;
  color: var(--text-light);
  text-shadow: -2px 0 2px var(--text-dark), 0 2px 2px var(--text-dark),
    2px 0 2px var(--text-dark), 0 -2px 2px var(--text-dark);
  margin-bottom: 2rem;
}

.homeHowItWorksSteps {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.homeHowItWorksSteps > div {
  height: 27rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 100%;
  padding: 1rem;
  background-color: #f3f3fd;
  border-radius: 1rem;
}

.homeHowItWorksStepsImg {
  height: 15rem;
  width: 15rem;
}

.homeHowItWorksStepsNumber {
  font-size: 150%;
  background-color: var(--text-dark);
  color: var(--text-light);
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 0.6rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1350px) {
  .homeHowItWorksTitle {
    font-size: 450%;
  }

  .homeHowItWorksType {
    width: 100%;
  }

  .homeHowItWorksTypeTitle {
    font-size: 280%;
  }

  .homeHowItWorksSteps > div {
    height: 25rem;
    width: 23rem;
  }
}

@media screen and (max-width: 1200px) {
  .homeHowItWorksSteps > div {
    height: 22rem;
    width: 20rem;
  }

  .homeHowItWorksStepsImg {
    height: 13rem;
    width: 13rem;
  }
}

@media screen and (max-width: 1110px) {
  .homeHowItWorksSteps > div {
    height: 21rem;
    width: 18rem;
  }

  .homeHowItWorksStepsImg {
    height: 10rem;
    width: 10rem;
  }
}

@media screen and (max-width: 950px) {
  .homeHowItWorksSteps > div {
    height: 20rem;
    width: 16rem;
    font-size: 90%;
  }

  .homeHowItWorksStepsImg {
    height: 9rem;
    width: 9rem;
  }
}

@media screen and (max-width: 850px) {
  .homeLandingLogo {
    height: 6rem;
    width: 6rem;
  }

  .homeLandingTitle {
    font-size: 5rem;
  }

  .homeLandingDesc {
    font-size: 2rem;
  }

  .showCardsBoxTitle {
    font-size: 90%;
  }

  .homeHowItWorksTitle {
    font-size: 350%;
  }

  .homeHowItWorksTypeTitle {
    font-size: 200%;
  }

  .homeHowItWorksSteps {
    flex-direction: column;
  }

  .homeHowItWorksSteps > div {
    height: 20rem;
    width: 85%;
    font-size: 110%;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .homeLandingLogo {
    height: 5rem;
    width: 5rem;
  }

  .homeLandingTitle {
    font-size: 4rem;
  }

  .homeLandingDesc {
    font-size: 1.5rem;
  }

  .showCardsBoxTitle {
    font-size: 75%;
  }

  .homeHowItWorksTitle {
    font-size: 250%;
  }

  .homeHowItWorksSteps > div {
    font-size: 100%;
  }
}

@media screen and (max-width: 450px) {
  .homeLandingLogo {
    height: 4.5rem;
    width: 4.5rem;
  }

  .homeLandingTitle {
    font-size: 3.5rem;
  }

  .homeLandingDesc {
    font-size: 1rem;
  }

  .showCardsBoxTitle {
    font-size: 60%;
  }

  .homeHowItWorksTitle {
    font-size: 150%;
  }

  .homeHowItWorksTypeTitle {
    font-size: 150%;
  }

  .homeHowItWorksSteps > div {
    font-size: 90%;
  }
}
