.dashboardAccountTitle {
  font-size: 300%;
  margin-bottom: 2rem;
}

.dashboardAccount {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgCon {
  position: relative;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  overflow: hidden;
}

.imgCon .imgConOverlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.imgCon:hover .imgConOverlay{
  opacity: 1;
}

.imgCon img{
  width: 100%;
}

.imgConOverlayContent {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.imgCon:hover .imgConOverlayContent{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.avatarEditIcon {
  font-size: 250%;
  color: white;
}

.imgConOverlayFadeIn{
  top: 80%;
}

.dashboardAccount h2 {
  font-size: 300%;
}

.nameCon {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.nameCon label {
  font-size: 180%;
  font-weight: bold;
  margin-bottom: 1rem;
}

.nameInput {
  width: 17rem;
}

.SaveChangestBtn,
.ChangePasswordtBtn {
  margin: 2rem 0;
  width: 17rem;
  font-size: 120%;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--text-dark);
  color: var(--text-light);
}

.SaveChangestBtn:hover,
.ChangePasswordtBtn:hover {
  cursor: pointer;
  background-color: var(--background);
}

.ChangePasswordtBtn {
  margin-top: 5rem;
}
