.navbar {
  margin: 0;
  padding: 0 2rem;
  height: 4rem;
  width: 100%;
  background-color: transparent;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.navbarColored {
  background-color: var(--text-dark);
}

.logo {
  text-align: center;
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
  width: 3rem;
}

.dot {
  color: var(--text-light);
}

.navLinks {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.navLinks li a {
  text-decoration: none;
  margin: 0 1rem;
  color: var(--text-light);
  letter-spacing: 1px;
  font-weight: bold;
}

.navLinks li a:hover {
  cursor: pointer;
  color: var(--light-purple1);
  border-bottom: 3px solid var(--light-purple1);
}

.login-button {
  color: var(--text-light);
  letter-spacing: 1px;
  font-weight: 300;
  background-color: transparent;
  border: 1.5px solid var(--text-light);
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 100%;
  margin: 0 1rem;
}

.login-button:hover {
  color: var(--text-dark);
  cursor: pointer;
  background-color: var(--text-light);
  border: 1.5px solid var(--text-light);
  transition: all ease-in-out 350ms;
}

.signup-button {
  letter-spacing: 1px;
  font-weight: 300;
  color: var(--text-dark);
  background-color: var(--light-purple1);
  border: 1.5px solid var(--light-purple1);
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 100%;
}

.signup-button:hover {
  color: var(--text-light);
  cursor: pointer;
  background-color: transparent;
  border: 1.5px solid var(--text-light);
  transition: all ease-in-out 350ms;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: var(--text-light);
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: var(--text-dark);
  overflow-y: hidden;
  transition: 0.5s;
}

.open {
  height: 100%;
}

.overlayContent {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 350%;
  display: block;
  transition: 0.3s;
  color: var(--text-light);
  letter-spacing: 1px;
  font-weight: bold;
}

.overlay a:hover,
.overlay a:focus {
  cursor: pointer;
  color: var(--light-purple2);
  border-bottom: 3px solid var(--light-purple2);
}

.overlay .closebtn {
  position: absolute;
  color: var(--text-light);
  top: 20px;
  right: 45px;
  font-size: 200%;
}

.overlay .closebtn:hover {
  color: var(--light-purple2);
  border: none;
}

.overlayAvatar {
  position: absolute;
  top: 30px;
  left: 45px;
}

.overlyButtons {
  height: 7rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contentMargin {
  margin-top: 5rem;
}

@media screen and (max-width: 800px) {
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    transition: all 0.7s ease;
  }

  .navbarButtonsAvatar {
    display: none;
  }

  .login-button {
    font-size: 110%;
  }

  .signup-button {
    font-size: 100%;
  }

  .link {
    display: none;
  }

  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 250%;
  }

  .overlay .closebtn {
    font-size: 400%;
    top: 15px;
    right: 35px;
  }
}
