* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --background: #2f2057;
  --light-purple2: #dddcff;
  --light-purple1: #bbb9ff;
  --text-light: #ffffff;
  --text-dark: #1c1b3d;
}