@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --background: #2f2057;
  --light-purple2: #dddcff;
  --light-purple1: #bbb9ff;
  --text-light: #ffffff;
  --text-dark: #1c1b3d;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerHight {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerDashboard {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboardLayout {
  min-height: 100vh;
  margin-left: 14rem;
  padding: 2rem;
  background-color: #ebeef7;
}

.errorImg {
  height: 20rem;
  width: 30rem;
}

.errorText {
  font-size: 300%;
}

.MuiFormLabel-root.Mui-focused {
  color: var(--light-purple1) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--light-purple1) !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--background);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--background) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1100px) {
  .errorImg {
    height: 19rem;
    width: 28rem;
  }

  .errorText {
    font-size: 280%;
  }
}

@media screen and (max-width: 800px) {
  .errorImg {
    height: 17rem;
    width: 26rem;
  }

  .errorText {
    font-size: 250%;
  }
}

@media screen and (max-width: 650px) {
  .errorImg {
    height: 14rem;
    width: 24rem;
  }

  .errorText {
    font-size: 200%;
  }
}

@media screen and (max-width: 550px) {
  .errorImg {
    height: 9rem;
    width: 18rem;
  }

  .errorText {
    font-size: 150%;
  }
}
